/* $Id$
 * (c)2005 Stepan Roh <src@srnet.cz>
 * Free to copy, free to modify, NO WARRANTY
 */

h1 {
  font-variant: small-caps
}
a {
}
a:link {
  color: #002bb8
  text-decoration: underline
}
a:visited {
  color: #5a3696;
}
a:hover {
}
a:active {
  color: #EE9A00
}
a.edit-link {
  color: red
}
pre {
  border: 1px solid;
  padding: 1em;
  background-color: #D3D3D3;
}
*.footer {
  background-color: yellow;
  font-family: monospace
}
*.footer a {
  color: blue
}
*.page-edit textarea {
  margin: 1em 0
}
*.history li {
  list-style: none
}
*.history *.history-message {
  font-style: oblique;
  color: #919191
}
*.history *.history-content-length {
  font-family: monospace;
  color: #919191
}
*.history *.history-user {
  color: #919191
}
*.info-text {
  color: red;
  border-bottom: 1px dotted black;
}
body h1 {
  margin: 0;
  border-bottom: 1px dotted
}
*.special-pages li {
  list-style: none
}
*.special-users li {
  list-style: none
}
form.delete-user {
  display: inline
}
*.link-like {
  text-decoration: underline
}
*.pre-like {
  font-family: monospace
}
*.list-like {
  display: list-item;
  /* workaround for Mozilla Firefox (else the list bullet is partially hidden) */
  margin: 0 0 0 1em;
}
*.toc {
  border: 1px solid;
  margin: 1em;
  background-color: #D0D0D0;
  font-size: x-small;
}
*.toc ul li {
  list-style: none;
}
*.toc-level-2 {
  margin: 0 0 0 2em;
}
*.toc-level-3 {
  margin: 0 0 0 4em;
}
*.toc-level-4 {
  margin: 0 0 0 6em;
}
*.toc-level-5 {
  margin: 0 0 0 8em;
}
img {
  border: 0;
}
